body {
    font-family: Arial, sans-serif;
    background-color: #7ab375;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 56, 1);
    margin-top: 20px;
}
